/* primary font */
@font-face {
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: 400;
  src: local('Vollkorn Regular'), local('Vollkorn-Regular'), url(https://fonts.gstatic.com/s/vollkorn/v6/idGKtgpe38okB6bfeHMsLPesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
 
@font-face {
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: 700;
  src: local('Vollkorn Bold'), local('Vollkorn-Bold'), url(https://fonts.gstatic.com/s/vollkorn/v6/wMZpbUtcCo9GUabw9JODeo4P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* secondary font */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v7/zhcz-_WihjSQC0oHJ9TCYPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}



body {
	font-family: 'Vollkorn';
	padding: 0px !important;
}

p {
	color: #000;
	font-size: 24px;
	line-height: 36px;
}

.fa {
	font-size: 30px;
}

.top-hero {
	padding-top: 10vh;
	height: 100vh;
	background-color: #F2F2EE;
	-webkit-box-shadow:inset 0px 0px 0px 13px #FFF;
    -moz-box-shadow:inset 0px 0px 0px 13px #FFF;
    box-shadow:inset 0px 0px 0px 13px #FFF;
}

.social-text {
	color: #999595;
}

.link-social {
	color: #999595;
	text-decoration: none;
	box-shadow: inset 0 -3px 0 0 rgba(153,149,149, 0.75);
	-webkit-transition: 0.6s;
	transition: 0.6s;
}

.link-social:hover {
	text-decoration: none;
	color: #000;
	box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 1);
}

.scroll-down {
	color: #999595;
	font-weight: 300;
	font-size: 12px !important;
	font-family: 'Montserrat';
}



.portfolio {
	background-color: #F2F2EE;
	height: 100vh;
	padding-top: 5vh;
	-webkit-box-shadow:inset 0px 0px 0px 13px #FFF;
    -moz-box-shadow:inset 0px 0px 0px 13px #FFF;
    box-shadow:inset 0px 0px 0px 13px #FFF;
}

.link {
	color: #cf1b41;
	text-decoration: none;
	box-shadow: inset 0 -3px 0 0 rgba(207,27,65, 0.75);
	-webkit-transition: 0.6s;
	transition: 0.6s;
}

.link:hover {
	text-decoration: none;
	color: #e87d2b;
	box-shadow: inset 0 -3px 0 0 rgba(232, 125, 43, 0.75);
}

.heading {
	color: #e87d2b;
}



.img-container {
	height: 35vh;
	background-color: grey;
}

.img-top-row {
	margin-bottom: 5vh;
}
 .pf-nav {
 	margin-bottom: 5vh;
 }

 .top-nav {
 	margin-top: 5vh;
 }